.reSellToken{
    width: 100%;
    margin-block: 4rem ;
}
.reSellToken_box{
    width: 60%;
    margin: 0 auto;

}
.reSellToken_box h1{
font-size: 3rem;
}

.Form_box_input{
    margin: 10px;
    color: black !important;

}

input.Form_Form_box_input_userName__Cfx1E{
    color: black !important;
}